.gamelist{
    display: flex;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.gamelist button{
    width: 200px;
    height:35px;
    background-color: #e0efc1;
    position: relative;
    left: 80px;
    font-size: 15px;
}
.gamelist th{
    background-color: #ed9ee1;
    position: relative;
    left: 60px;
    text-align: center;
    width: 250px;
    font-size: 20px;
}
.child{
    flex: 1;
    margin: 30px;
    background-color: #addcd9;
}

.child:first-child{
    margin-right: 20px;
}

.child:second-child{
    margin-right: 20px;
}

.child:third-child{
    margin-right: 20px;
}
.note{
    text-align: center;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.action-button{
    place-content: center;
    justify-items: center;
    position: relative;
    left: 650px;
}
.joingame-button{
    font-size:20px;
    padding: 15px;
    border-radius: 25px; 
    margin-right: 10px;
    background-color: rgb(137, 222, 17);
    
  }
  .creategame-button{
    padding: 15px;
    font-size:20px;
    border-radius: 25px; 
    margin-left: 10px;
    background-color: rgb(137, 222, 17);
    
  }
  .creategame-button:hover{background-color: yellow;
    animation: shake 0.5s;
  
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;;
  }
  .joingame-button:hover{
    background-color: yellow;
    animation: shake 0.5s;
  }  
  .joingame-button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  .creategame-button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
.backgroundlinear{
  background-image:linear-gradient(79deg,#653cc6,#C66FBC 48%,#f7944d);
}
.creategame-button{
 
  align-items:center;
}