:root {
    --outer-shadow: 
      0 0 0.1vw 0.4vw #e0f7fa,
      0 0 0.4vw 0.6vw #00e5ff,
      0 0 1vw 0.4vw #26c6da;
    --inner-shadow:
      inset 0 0 0.1vw 0.4vw #e0f7fa,
      inset 0 0 0.4vw 0.6vw #00e5ff,
      inset 0 0 1vw 0.4vw #26c6da;
    --all-shadow:
      0 0 0.1vw 0.4vw #e0f7fa,
      0 0 0.4vw 0.6vw #00e5ff,
      0 0 1vw 0.4vw #26c6da,
      inset 0 0 0.1vw 0.4vw #e0f7fa,
      inset 0 0 0.4vw 0.6vw #00e5ff,
      inset 0 0 1vw 0.4vw #26c6da;
  }
  .ajunek{
    position: relative;
    top: 150px;
    }
.playercard{
    display: inline-block;
    justify-items: center;
    border-color: black;
  border-radius: 7px;
    width: 80px;
    box-shadow: var(--outer-shadow);
    border: 12px ;
    transition: all 0.3s;
    background-color: rgb(241, 196, 196);
    height: 90px;
    position: fixed;
    margin-bottom: -10px;
    top:350px;
    left: 50px;
    

      transition: 0.5s;
      
  }
  .playercard:hover{
    transform: scale(1);
    z-index: 2;
  }
  .playercard h6{
    text-align: center;
    position: relative;
    top: -25px;
    border-radius: 5px;
  }
  .playercard p{
    text-size-adjust: 5px;
    position: relative;
    top: -25px;
  }
 
  
.ajunek{
    position: relative;
    top: 150px;
    }