.App{ 
  text-align: center;
  display: flex;
  min-height :100vh;
  align-items: center;
  justify-content: center;
  color:white;
  background-image:linear-gradient(79deg,#653cc6,#C66FBC 48%,#f7944d);
}
.text-header1{ 
  font-size: 120px;

}

.form-signin {
 
  text-align: center;
  display: flex;
  align-items: center;
  min-height :100vh;
  justify-content: center;
  padding: 15px;
  margin: auto;
  background-image:linear-gradient(79deg,#653cc6,#C66FBC 48%,#f7944d);
}


.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-floating{
  padding:10px;
}
.loader-container {
  width: 100%;
  height: 100vh;
  position: fixed;
  background: rgba(0, 0, 0, 0.834)
      url("https://media.giphy.com/media/8agqybiK5LW8qrG3vJ/giphy.gif") center
      no-repeat;
  z-index: 1;
}



.spinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #3d5af1 transparent #3d5af1 transparent;
  border-radius: 50%;
  animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

.bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }
      body {
        min-height: 100vh;
        min-height: -webkit-fill-available;
       
      }
      
      html {
        height: -webkit-fill-available;
       
      }
      
      main {
        height: 100vh;
        height: -webkit-fill-available;
        max-height: 100vh;
        overflow-x: auto;
        overflow-y: hidden;
      }
      
      .dropdown-toggle { outline: 0; }
      
      .btn-toggle {
        padding: .25rem .5rem;
        font-weight: 600;
        color: rgba(0, 0, 0, .65);
        background-color: transparent;
      }
      .btn-toggle:hover,
      .btn-toggle:focus {
        color: rgba(0, 0, 0, .85);
        background-color: #d2f4ea;
      }
      
      .btn-toggle::before {
        width: 1.25em;
        line-height: 0;
        content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
        transition: transform .35s ease;
        transform-origin: .5em 50%;
      }
      
      .btn-toggle[aria-expanded="true"] {
        color: rgba(0, 0, 0, .85);
      }
      .btn-toggle[aria-expanded="true"]::before {
        transform: rotate(90deg);
      }
      
      .btn-toggle-nav a {
        padding: .1875rem .5rem;
        margin-top: .125rem;
        margin-left: 1.25rem;
      }
      .btn-toggle-nav a:hover,
      .btn-toggle-nav a:focus {
        background-color: #d2f4ea;
      }
      
      .scrollarea {
        overflow-y: auto;
      }


.lobby{
  text-align: center;
  background-image:linear-gradient(79deg,#653cc6,#C66FBC 48%,#f7944d);
}

.gamepage-container{
  background-image:linear-gradient(79deg,#653cc6,#C66FBC 48%,#f7944d);
}

.button-decide{
  text-align: center;
  display: flex;
  align-items: center;
  min-height :100vh;
  justify-content: center;
  padding: 15px;
margin: auto;
  background-image:linear-gradient(79deg,#653cc6,#C66FBC 48%,#f7944d);
  
}
.joingame-button{
  font-size:40px;
  padding: 15px;
  border-radius: 25px; 
  margin-right: 10px;
  background-color: rgb(137, 222, 17);
  
}
.creategame-button{
  padding: 15px;
  font-size:40px;
  border-radius: 25px; 
  margin-left: 10px;
  background-color: rgb(137, 222, 17);
  
}
.creategame-button:hover{background-color: yellow;
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;;
}
.joingame-button:hover{
  background-color: yellow;
  animation: shake 0.5s;
  

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;

}

.joingame-button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.creategame-button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.Png-image{
  position: absolute;
  left:0px;
  bottom:0px;
 
}
.Png-image:hover{
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}
.btn btn-outline-light me-2:hover{
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;

}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.Png-image1:hover {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.Png-image3{
  position: relative;
  right: 0px;
  top:0px;
}

/*for*/



.wrapper {
  overflow: hidden;
 
}
.sliding-background {
  background: url("C:\Users\amate\grid\src\board\images\mudra.png") repeat-x;
  height: 500px;
  width: 1000px;
  animation: slide 2s linear infinite;
}
@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
 }
  100% {
    transform: translate3d(-1692px, 0, 0);
 }
}


#scroll-container {
  border: 3px solid black;
  border-radius: 5px;
  overflow: hidden;
}
#scroll-text {
  text-align: right;
 /* animation properties */
  -moz-transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -moz-animation: my-animation 15s linear infinite;
  -webkit-animation: my-animation 15s linear infinite;
  animation: my-animation 15s linear infinite;
}
/* for Firefox */
@-moz-keyframes my-animation {
  from {
    -moz-transform: translateX(-100%);
 }
  to {
    -moz-transform: translateX(100%);
 }
}
/* for Chrome */
@-webkit-keyframes my-animation {
  from {
    -webkit-transform: translateX(-100%);
 }
  to {
    -webkit-transform: translateX(100%);
 }
}
@keyframes my-animation {
  from {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
 }
  to {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
 }
}

.text-header1{
  background: linear-gradient(79deg,#8460d8,#C66FBC 48%,#f3a065);
  
  border-radius: 5px;
}


.sidebar{
  background:#000;
  color:#fff;
  height:100vh;

  transition: all 0.5s;
}
.top_section{
  display: flex;
  align-items: center;
  padding:20px 15px;
}
.logo{
  font-size:30px;
}
.bars{
  display: flex;
  font-size:25px;
  margin-left: 50px;
  
}
.link{
  display: flex;
  color: #fff;
  padding:10px 15px;
  gap:15px;
  transition: all 0.5s;
}
.link:hover{
  background: radial-gradient(circle, rgba(101,60,198,1) 25%, rgba(247,77,77,1) 100%);;
  color:#000;
  transition: all 0.5s;
}
.active{
  background: rgb(101,60,198);
background: radial-gradient(circle, rgba(101,60,198,1) 25%, rgba(247,77,77,1) 100%);;
  color:#000;
}
.icon,.link_text{
  font-size:20px;
}
.dashbar{
  position:absolute;
  right:0px;
}